<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>370665892572-fennevaiav0sbhll97rqo9v9bt36go38.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.370665892572-fennevaiav0sbhll97rqo9v9bt36go38</string>
	<key>API_KEY</key>
	<string>AIzaSyCI9KFGs_6uuuIc30il8L71X5QNBdASQKI</string>
	<key>GCM_SENDER_ID</key>
	<string>370665892572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.Ito.tiger.karalog</string>
	<key>PROJECT_ID</key>
	<string>karalog-39e53</string>
	<key>STORAGE_BUCKET</key>
	<string>karalog-39e53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:370665892572:ios:f11c53e3b29b173632e219</string>
</dict>
</plist>